button {
        display: flex;
        margin: auto;
        padding: 10px 20px;
        border-color: #014041;
        border-width: 1px 1px 3px;
        border-radius: 4px;
        background-color: #025837;
        color: #f8f8f8;
        font-size: 1.1rem;
        outline: 0;
        cursor: pointer;
      }